.itemsContainer{
    display: flex;
    height: calc(100vh - 70px);
    flex-direction: column;
    overflow-x: hidden;
}

.item{
    max-width: 100%;
    padding: 12px;
    
}

.saveBtn{
    bottom: 10vh;
    box-shadow: 3px 4px 1px #0d6efd33;
}

.trashBtn{
    background: none !important;
    border: none !important;
    color: #ccc !important;
    font-size: 1.5em !important;
    padding: 0 0 0 5px !important;
    margin-left: auto;
}

.date{
    align-self: center;
    margin-left: auto;
    font-size: 14px;
    color: #ccc;
}

.taskComplete{
    text-decoration: line-through;
    font-style: italic;
    background: #f3f3f3;;
}

.subtitle{
    margin-left: 42px;
    font-size: 1em;
    color: #aaa;
}